
div{
  text-align: center;
  max-width: 962px;
  justify-items: auto;
}

/* desktop size */
@media only screen and (min-width:850px){
  div.container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 200px  190px 190px 190px 190px;
    grid-template-rows: 100px 200px 250px 150px;
  }
  div.container{
   
    margin-top: 2%;
  }
  
  div{
    
    max-width:960;
    
  }

  div.a {
    background-color: red;
    height: 100px;
    line-height: 5;
    width: 960px;
    grid-column-start: 1;
    grid-column-end: 4;
    border: .25px solid black;
    
  }

  div.b {
    background-color: green;
   
    height: 600px;
    line-height: 40;
    width: 200px;
    grid-column-start: 1;
    border: .25px solid black;
    
  }

  div.c{
    background-color: purple;
    height: 200px;
    line-height: 12;
    width: 380px;
    grid-column-start: 2;
    border: .25px solid black;
    
    
  }

  div.d{
    background-color: rgb(216, 184, 3);
    height: 200px;
    line-height: 12;
    width: 380px;
    grid-column-start: 4;
    border: .25px solid black;
  }

  div.e {
    background-color: rgb(112, 243, 140);
    height: 250px;
    margin: 0;
    line-height: 15;
    width: 190px;
    box-orient: inline-axis;
    grid-column-start: 2;
    grid-column-end: 3;
    border: .25px solid black;
    
   
    
  }

  div.f {
    background-color: rgb(27, 252, 203);
    height: 250px;
    line-height: 15;
    margin: 0;
    width: 190px;
    grid-column-start: 3;
    grid-column-end: 4;
    border: .25px solid black;
  }

  div.g {
    background-color: rgb(192, 83, 255);
    height: 250px;
    line-height: 15;
    margin: 0;
    width: 190px;
    grid-column-start: 4;
    grid-column-end: 5;
    border: .25px solid black;
  }

  div.h {
    background-color: rgb(120, 247, 88);
    height: 250px;
    line-height: 15;
    margin: 0;
    width: 190px; 
    grid-column-start: 5;
    border: .25px solid black; 
  }

  div.i {
    background-color: rgb(160, 60, 80);
    height: 150px;
    width: 760px;
    line-height: 10;
    grid-column-start: 2;
    border: .25px solid black;
    
  }
}


/* phone size */

@media only screen and (max-width:768px){
  div{
     display: inline-block;
  }

  div.a {
    background-color: rgb(73, 34, 73);
    height: 75px;
    line-height: 5;
    width: 480px;
    border: .25px solid black;
  }

  div.b {
    background-color:rgb(20, 185, 185);
    height: 150px;
    line-height: 10;
    width: 480px;
    border: .25px solid black;
    
  }

  div.c{
    background-color: rgb(196, 108, 0);
    height: 125px;
    line-height: 8;
    width: 480px;
    border: .25px solid black;
    
  }

  div.d{
    background-color: rgb(177, 171, 137);
    height: 125px;
    line-height: 8;
    width: 480px;
    border: .25px solid black;
  }

  div.e {
    background-color: rgb(146, 2, 146);
    height:250px;
    line-height: 15;
    width: 240px;
    border: .25px solid black;
  }

  div.f {
    background-color: rgb(231, 125, 93);
    height:250px;
    line-height: 15;
    width: 240px;
    border: .25px solid black;
  }

  div.g {
    background-color: rgb(143, 102, 182);
    height:250px;
    line-height: 15;
    width: 240px;
    border: .25px solid black;
  }

  div.h {
    background-color: rgb(160, 247, 88);
    height:250px;
    line-height: 15;
    width: 240px;
    border: .25px solid black;
  }

  div.i {
    background-color: rgb(234, 219, 219);
    height: 80px;
    line-height: 5;
    width: 480px;
    border: .25px solid black;
  }
}

/* tablet size */
@media only screen and (min-width:769px) and (max-width:850px){
  div.container{
    display: grid;
    grid-template-columns: 177px 168px 168px 168px 168px;
    grid-template-rows: 100px 200px 250px 150px;
  }
  

  div.a {
    background-color: rgb(224, 109, 109);
    height: 100px;
    line-height: 100px;
    width: 849px;
    border: .25px solid black;
  }

  div.b {
    background-color: rgb(75, 233, 75);
    height: 600px;
    line-height: 600px;
    width: 200px;
    grid-column-start: 1;
    border: .25px solid black;
    

  }

  div.c{
    background-color: rgb(199, 98, 199);
    height: 200px;
    line-height: 200px;
    width: 336px;
    grid-column-start: 2;
    border: .25px solid black;
  }

  div.d{
    background-color: rgb(83, 71, 2);
    height: 200px;
    line-height: 200px;
    width: 336px;
    grid-column-start: 4;
    border: .25px solid black;
  }

  div.e {
    background-color: rgb(3, 95, 23);
    height: 250px;
    margin: 0;
    line-height: 250px;
    width: 168px;
    grid-column-start: 2;
    border: .25px solid black;
  }

  div.f {
    background-color: rgb(2, 109, 86);
    height: 250px;
    line-height: 250px;
    margin: 0;
    width: 168px;
    border: .25px solid black;
  }

  div.g {
    background-color: rgb(59, 2, 92);
    height: 250px;
    line-height: 250px;
    margin: 0;
    width: 168px;
    border: .25px solid black;
  }

  div.h {
    background-color: rgb(31, 133, 5);
    height: 250px;
    line-height: 250px;
    margin: 0;
    width: 168px;
    border: .25px solid black;  
  }

  div.i {
    background-color: rgb(226, 30, 69);
    height: 150px;
    width: 672px;
    line-height: 150px;
    grid-column-start:2
    border: .25px solid black;
  }
}


